[Unit]
Description=Automatically update Lvyoumap from GitHub

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
RandomizedDelaySec=5s
Persistent=true

[Install]
WantedBy=timers.target
